@import 'reset';
@import 'variables';

body {
  background: url('/assets/intro/background.png'), white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overscroll-behavior-y: contain;

  -webkit-overflow-scrolling: touch;
}

* {
  overflow: hidden;
}

canvas.webGLScene {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  // width: 100%;
  // height: 100%;
}

.dg.ac {
  z-index: 9999;
  display: none;
}

.fbo__debugger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px !important;
  height: 200px !important;
}
