@import 'reset';
@import 'variables';

body {
  background: black;
  width: 100vw;
  height: 100vh;
  overscroll-behavior-y: contain;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

canvas.webGLScene {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  // width: 100%;
  // height: 100%;
}

.dg.ac {
  z-index: 9999;
}
